<!DOCTYPE html>
<html lang="en">

<head>
    <title>INF-YTimetab{% if page_title %} - {{ page_title }}{% endif %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="INF-YTimetab is the Informatics Young Team's interface to the University of Edinburgh's Timetab timetabling system.">

    <link rel="stylesheet" href="http://inf-yt.org.uk/css/bootstrap.css" />
    <link rel="stylesheet" href="http://inf-yt.org.uk/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="http://inf-yt.org.uk/css/bootstrap-footer.css" />

    {% block styles %}
    {% endblock styles %}

    {% block headscripts %}
    {% endblock headscripts %}
</head>

<body>

    <div id="wrap">
        {% block header %}
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">Inf-YTimetab</a>
                </div>
            </div>
        </div>
        {% endblock header %}


        <div class="container">
            <div id="main-content" class="row-fluid">
                    <div id="blurb" class="hero-unit span4">
                        {% block blurb %}
                            <p class="lead">INF-YTimetab is the <a href="https://github.com/INF-YT">Informatics Young Team</a>'s interface to the University of Edinburgh's <a href="http://www.timetab.ed.ac.uk/">Timetab timetabling system</a>.</p>

                            <p>A bit better than an HTML table, non?</p>
                        {% endblock blurb %}
                    </div>

                <div class="span8">
                    {% block body %}
                    {% endblock body %}
                </div>
            </div>
        </div>
        <div id="push"></div>
    </div>


    <div class="footer">
        <div class="container">
            <p class="muted credit">Created by the <a href="https://github.com/INF-YT">INF-YT</a> as part of the 2013 <a href="http://data.inf.ed.ac.uk/ilwhack/">ILWHack</a>. All code is open source and <a href="https://github.com/INF-YT/INF-YTimetab">available on GitHub</a>!</p>
            <p class="muted">All data etc. copyright &copy; its respective owners. Not endorsed by The University of Edinburgh, or anyone else. So far as <em>you</em> know.</p>

            <script src="http://inf-yt.org.uk/js/jquery.min.js"></script>
            <script src="http://inf-yt.org.uk/js/bootstrap.min.js"></script>
            {% block scripts %}
            {% endblock scripts %}
        </div>
    </div>
</body>
</html>
