{% extends "base.html" %}
{% block title %}INF-YTimetab{% endblock title %}


{% block body %}
    <form id="course-code-form" method=post action="/timetable">
        <h2>Enter your course-codes below:</h2>

        <p>Use the '+' button to add further courses to your timetable.</p>

        <p>At the moment, we only support the university-wide unique course-codes, consisting of 4 letters and 5 numbers. Good luck!</p>

        {% for field in form.course_codes %}
            {{ field(pattern="^\w{4}\d{5}$", title="a valid University of Edinburgh course code, consisting of 4 letters and 5 numbers, i.e. MATH08058") }}
        {% endfor %}

        <a id="add-course-code-input-button" href="javascript:void(0)" onclick="addCourseCodeInputElement()">+</a>

        {{ form.submit_button(id="course-code-form-button") }}
    </form>
{% endblock body %}



{% block scripts %}
    <script type="text/javascript">
        function addCourseCodeInputElement (n) {

            var inputs = document.getElementsByTagName('input');
            var addInputButton = document.getElementById("add-course-code-input-button");
            var last_input= inputs[inputs.length - 2];
            var next_input = last_input.cloneNode();
            var next_input_index = inputs.length - 1;
            next_input.setAttribute("id", "course_codes-" + next_input_index);
            next_input.setAttribute("name", "course_codes-" + next_input_index);
            next_input.setAttribute("type", "text");
            next_input.setAttribute("pattern", "^\\w{4}\\d{5}$");
            next_input.setAttribute("title", "a valid University of Edinburgh course code, consisting of 4 letters and 5 numbers, i.e. MATH08058");
            next_input.value = '';

            var form = document.getElementById("course-code-form");
            form.insertBefore(next_input, addInputButton)
        };
    </script>
{% endblock scripts %}

{% block styles %}

<style type="text/css">
input {
    display: block;
}
</style>

{% endblock styles %}
